{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="row p-4 bg-dark">
    <div class="col-md-6 text-center text-white p-lg-5">
        <h1 class="wlc text-danger display-3 strong">Welcome <span class="to text-white">to</span></h1>
        <h1 class="res text-warning display-2"><strong>PARADISE <span class="resOne ">RESTAURANT</span></strong></h1>
    </div>
    <div class="col-md-6">
        <img class="img-fluid rounded-5 " src="{% static 'image/pexels-chan-walrus-958545.jpg' %}" alt="">
    </div>
</div>


  
{% endblock content %}